html {
    background: url("https://i.imgur.com/EDCcWMQ.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.background-tint {
    background: 
        linear-gradient(
            rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .3),

        ),
        url("https://i.imgur.com/EDCcWMQ.jpg") no-repeat center center fixed;
}
*/
.intro-2 {
    background-image: url("https://i.imgur.com/EDCcWMQ.jpg"); 
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
}

/*.hm-gradient .full-bg-img {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.6)), to(rgba(29, 210, 177, 0.6)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
}*/
body {
    font-family: 'Palanquin', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 46px;
    display: block;
    margin: 0;
}

.navbar-nav{
    margin: 0;
    float: right;
}

ul li {
    float: right;
    display: block;
    padding: 8px;
    list-style-type: none;
}

.transparent {
    background-color: rgb(0,0,0,0);
}

.translucent {
    background-color: rgb(0,0,0,0.5);

}

.nav li:hover {
    background-color: rgb(255,255,255,.7);
    color: black;
    transition: 0.5s;
}

.nav a:link, .nav a:visited {
    color: inherit;
    text-decoration: none;
}


/*article {
    background-color: rgb(0,0,0,0);
}*/