html {
    background: url("https://i.imgur.com/EDCcWMQ.jpg") no-repeat top center fixed black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Palanquin', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 46px;
    display: block;
    margin: 0;
}

/*.navbar-nav{
    margin: 0;
    float: right;
}
*/
ul li {
    float: right;
    display: block;
    padding: 8px;
    list-style-type: none;
}

.transparent {
    background-color: rgb(0,0,0,0);
}

.translucent {
    background-color: rgb(0,0,0,0.5);

}

.nav li:hover {
    background-color: rgb(255,255,255,.7);
    color: black;
    transition: 0.5s;
}

.nav a:link, .nav a:visited {
    color: inherit;
    text-decoration: none;
}

main {
    padding-top: 60px
}

article {
    display: none;
}
